<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  # Redirect sitemap requests to PHP proxy (Bypasses mod_proxy restrictions)
  RewriteRule ^sitemap\.xml$ sitemap-proxy.php [L]
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
